body{
    margin: 0;
    padding: 0;
}
#menu-top{
    width:100%;
    margin: 0 auto;
    border-bottom: 2px solid black;
    background-color: teal;
    height: 100px;
}

a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}

#menu-left{
    margin-top: -16px;
    width:15%;
    height: 1000px;
    border-right: 2px solid black;
    background-color: beige;
}
