body{
    margin: 0;
    padding: 0;
}
#menu-top{
    width:100%;
    margin: 0 auto;
    border-bottom: 2px solid black;
    background-color: teal;
    height: 100px;
}

a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    display: block;
    padding: 30px;
    box-sizing: border-box;
    float: left;
    width:33%;
}

#menu-left{
    width:15%;
    height: 1000px;
    border-right: 2px solid black;
    background-color: beige;
    float: left;
    box-sizing: border-box;
}

#main{
    width: 85%;
    float: right;
}

img{
    width:50%;
    margin-left: 25%;
}
